Source: radxa-profiles
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: libs
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               pandoc,

Package: task-radxa-zero
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyaml0,
         ${misc:Depends},
Recommends: task-amlogic,
Description: Metapackages for Radxa ZERO
 This package provides prebuilt packages from Amlogic that
 provides a more optimized user experience.

Package: task-radxa-zero-2pro
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyaml0,
         rsetup-config-thermal-governor-step-wise,
         ${misc:Depends},
Recommends: task-amlogic,
Description: Metapackages for Radxa ZERO 2 PRO
 This package provides prebuilt packages from Amlogic that
 provides a more optimized user experience.

Package: task-rock-pi-s
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttys0,
         rtl8723ds-dkms,
         ${misc:Depends},
Recommends: task-rk3308,
Description: Metapackages for ROCK Pi S
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-s0
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttys0,
         ${misc:Depends},
Recommends: task-rk3308,
Description: Metapackages for ROCK S0
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-pi-e
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttys2,
         8821cu-dkms,
         ${misc:Depends},
Recommends: task-rk3328,
Description: Metapackages for ROCK Pi E
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-pi-4a
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-r8125-dkms,
         ${misc:Depends},
Recommends: task-rk3399,
Description: Metapackages for ROCK Pi 4A
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-pi-4b
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-r8125-dkms,
         ${misc:Depends},
Recommends: task-rk3399,
Description: Metapackages for ROCK Pi 4B
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-pi-4c
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-r8125-dkms,
         ${misc:Depends},
Recommends: task-rk3399,
Description: Metapackages for ROCK Pi 4C
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-pi-4a-plus
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-r8125-dkms,
         ${misc:Depends},
Recommends: task-rk3399,
Description: Metapackages for ROCK Pi 4A+
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-pi-4b-plus
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-r8125-dkms,
         ${misc:Depends},
Recommends: task-rk3399,
Description: Metapackages for ROCK Pi 4B+
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-4c-plus
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-r8125-dkms,
         ${misc:Depends},
Recommends: task-rk3399,
Description: Metapackages for ROCK 4C+
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-4se
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-r8125-dkms,
         ${misc:Depends},
Recommends: task-rk3399,
Description: Metapackages for ROCK 4SE
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-4-core-io
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         ${misc:Depends},
Recommends: task-rk3399,
Description: Metapackages for ROCK 4 Core Baseboard
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-pi-n10
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         ${misc:Depends},
Recommends: task-rk3399,
Description: Metapackages for ROCK Pi N10
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-medge-rk3528a-io
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-aic8800-usb-dkms,
         ${misc:Depends},
Recommends: task-rk3528,
Description: Metapackages for Radxa mEdge RK3528A IO
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-2
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-r8125-dkms,
         radxa-system-config-aic8800-usb-dkms,
         ${misc:Depends},
Recommends: task-rk3528,
Description: Metapackages for ROCK 2 series
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-3a
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-r8125-dkms,
         8852be-dkms,
         rtl8852bu-dkms,
         radxa-system-config-rtk-btusb-dkms,
         ${misc:Depends},
Recommends: task-rk356x,
Description: Metapackages for ROCK 3A
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-3b
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         8852be-dkms,
         rtl8852bu-dkms,
         radxa-system-config-rtk-btusb-dkms,
         ${misc:Depends},
Recommends: task-rk356x,
Description: Metapackages for ROCK 3B
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-3c
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-r8125-dkms,
         rsetup-config-aic8800-ttys1,
         radxa-system-config-aic8800-sdio-dkms,
         ${misc:Depends},
Recommends: task-rk356x,
Description: Metapackages for ROCK 3C
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-zero3
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         rsetup-config-aic8800-ttys1,
         radxa-system-config-aic8800-sdio-dkms,
         ${misc:Depends},
Recommends: task-rk356x,
Description: Metapackages for Radxa ZERO 3
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-e23
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-r8125-dkms,
         ${misc:Depends},
Recommends: task-rk356x,
Description: Metapackages for Radxa E23
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-e25
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0-115200,
         radxa-system-config-r8125-dkms,
         rsetup-config-rgb0-rainbow,
         ${misc:Depends},
Recommends: task-rk356x,
Description: Metapackages for Radxa E25
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-cm3-io
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-r8125-dkms,
         ${misc:Depends},
Recommends: task-rk356x,
Description: Metapackages for Radxa CM3 IO Baseboard
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-cm3-rpi-cm4-io
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-r8125-dkms,
         ${misc:Depends},
Recommends: task-rk356x,
Description: Metapackages for Radxa CM3 on RPI CM4 IO Baseboard
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-cm3-sodimm-io
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-r8125-dkms,
         ${misc:Depends},
Recommends: task-rk356x,
Description: Metapackages for Radxa CM3 SODIMM IO Baseboard
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-cm3i-io
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         rtw89-dkms,
         rtl8852bu-dkms,
         radxa-system-config-rtk-btusb-dkms,
         ${misc:Depends},
Recommends: task-rk356x,
Description: Metapackages for Radxa CM3I Baseboard
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-cm3j-rpi-cm4-io
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         8852be-dkms,
         rtl8852bu-dkms,
         radxa-system-config-rtk-btusb-dkms,
         ${misc:Depends},
Recommends: task-rk356x,
Description: Metapackages for Radxa CM3J on RPI CM4 IO Baseboard
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-4d
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-aic8800-usb-dkms,
         ${misc:Depends},
Recommends: task-rk3576,
Description: Metapackages for ROCK 4D
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-5-itx
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         rtw89-dkms,
         rtl8852bu-dkms,
         radxa-system-config-rtk-btusb-dkms,
         ${misc:Depends},
Recommends: task-rk3588,
Description: Metapackages for ROCK 5 ITX
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-5a
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         rtw89-dkms,
         rtl8852bu-dkms,
         radxa-system-config-rtk-btusb-dkms,
         ${misc:Depends},
Recommends: task-rk3588,
Description: Metapackages for ROCK 5A
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-5b
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         rtw89-dkms,
         rtl8852bu-dkms,
         radxa-system-config-rtk-btusb-dkms,
         ${misc:Depends},
Recommends: task-rk3588,
Description: Metapackages for ROCK 5B
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-5c
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         rtw89-dkms,
         rtl8852bu-dkms,
         radxa-system-config-aic8800-usb-dkms,
         radxa-system-config-rtk-btusb-dkms,
         rsetup-config-thermal-governor-step-wise,
         ${misc:Depends},
Recommends: task-rk3588,
Description: Metapackages for ROCK 5C
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-5d
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         rtw89-dkms,
         rtl8852bu-dkms,
         radxa-system-config-aic8800-usb-dkms,
         radxa-system-config-rtk-btusb-dkms,
         ${misc:Depends},
Recommends: task-rk3588,
Description: Metapackages for ROCK 5D
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-5b-plus
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         rtw89-dkms,
         rtl8852bu-dkms,
         radxa-system-config-rtk-btusb-dkms,
         ${misc:Depends},
Recommends: task-rk3588,
Description: Metapackages for ROCK 5B+
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-rock-5t
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         rtw89-dkms,
         rtl8852bu-dkms,
         radxa-system-config-rtk-btusb-dkms,
         ${misc:Depends},
Recommends: task-rk3588,
Description: Metapackages for ROCK 5T
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-cm4-rpi-cm4-io
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         ${misc:Depends},
Recommends: task-rk3576,
Description: Metapackages for Radxa CM4 on RPI CM4 IO Baseboard
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-cm5-io
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         rtw89-dkms,
         rtl8852bu-dkms,
         radxa-system-config-rtk-btusb-dkms,
         ${misc:Depends},
Recommends: task-rk3588,
Description: Metapackages for Radxa CM5 IO Baseboard
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-cm5-rpi-cm4-io
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         ${misc:Depends},
Recommends: task-rk3588,
Description: Metapackages for Radxa CM5 on RPI CM4 IO Baseboard
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-e52c
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         ${misc:Depends},
Recommends: task-rk3588,
Description: Metapackages for Radxa E52C
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-e54c
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         ${misc:Depends},
Recommends: task-rk3588,
Description: Metapackages for Radxa E54C
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-nx5-io
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         rtw89-dkms,
         rtl8852bu-dkms,
         radxa-system-config-rtk-btusb-dkms,
         ${misc:Depends},
Recommends: task-rk3588,
Description: Metapackages for Radxa NX5 IO Baseboard
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-orion-o6
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyama2,
         r8126-dkms,
         rtw89-dkms,
         ${misc:Depends},
Recommends: task-cd8180,
Description: Metapackages for Orion O6
 This package provides prebuilt packages from CIX that
 provides a more optimized user experience.

Package: task-radxa-rk3528
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-r8125-dkms,
         radxa-system-config-aic8800-usb-dkms,
         ${misc:Depends},
Recommends: task-rk3528,
Description: Metapackages for generic RK3528 image
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.

Package: task-radxa-rk3576
Architecture: all
Priority: optional
Depends: radxa-system-config,
         radxa-system-config-kernel-cmdline-ttyfiq0,
         radxa-system-config-aic8800-usb-dkms,
         ${misc:Depends},
Recommends: task-rk3576,
Description: Metapackages for generic RK3576 image
 This package provides prebuilt packages from Rockchip that
 provides a more optimized user experience.
