#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk
include /usr/share/dpkg/architecture.mk

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_installudev:
	dh_installudev -prockchip-udev --name=rockchip-drm --priority=60
	dh_installudev -prockchip-udev --name=rockchip-permissions --priority=99
